<?xml version='1.0' encoding='utf-8'?>
<widget id="com.test.biciapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0"
    versionCode = "10" 
    version = "1.0.0">
    <name>BiciApp</name>
    <description>
        Aplicacion que muestra un mapa con capas para cletas.
    </description>
    <author email="tan.meza@gmail.com" href="http://www.facebook.com/Seba.MezaS">
        HaltingProblem Team
    </author>
	<gap:platforms>
        <gap:platform name="android" minVersion="2.1" />
    </gap:platforms>
	<icon src="icon.png" gap:role="default"/>
    <content src="index.html" />
	<gap:splash src="spl.png" />
    <access origin="*" />
	<preference name="orientation" value="landscape" />
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
</widget>
